<div class="submit">
    <h1>Оформить заказ</h1>

    <form [formGroup]="formGroup" (ngSubmit)="submitOrder()">
        <p class="delivery-title">Доставка</p>
        <div *ngIf="deliveryType.invalid && (deliveryType.dirty || deliveryType.touched)"
                class="alert">
            <div *ngIf="deliveryType.errors?.required">
                Поле обязательное
            </div>
        </div>
        <div class="delivery">
            <p class="opt">
                <input 
                    id="delivery"
                    type="radio" 
                    formControlName="deliveryType"
                    [(ngModel)]="order.deliveryType"
                    value="{{DeliveryTypeEnum.delivery}}">
                <label for="delivery">Курьером</label>
            </p>
            
            <p class="opt">
                <input 
                    id="takeaway"
                    type="radio" 
                    formControlName="deliveryType"
                    [(ngModel)]="order.deliveryType"
                    value="{{DeliveryTypeEnum.takeaway}}">
                <label for="takeaway">Самовывоз</label>
            </p>
      
        </div>

        <p class="delivery-title subtitle">Информация о себе</p>


        <label class="input">
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                 class="alert">
                <div *ngIf="name.errors?.required">
                    Поле обязательное
                </div>
            </div>
            <input 
                formControlName="name"
                class="input-field" 
                type="text" 
                [(ngModel)]="order.name"
                placeholder="Имя  *">
        </label> 
        <label class="input">
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                 class="alert">
                <div *ngIf="phone.errors?.required">
                    Поле обязательное
                </div>
            </div>
            <input 
                formControlName="phone"
                [(ngModel)]="order.phone"
                class="input-field" 
                type="phone"
                mask="(000) 000-00-00"
                placeholder="Телефон *" />
        </label>
        <label class="input" *ngIf="order.deliveryType === DeliveryTypeEnum.delivery">
            <div *ngIf="address.invalid && (address.dirty || address.touched)"
                 class="alert">
                <div *ngIf="address.errors?.required">
                    Поле обязательное
                </div>
            </div>
            <input 
                formControlName="address"
                class="input-field" 
                type="text" 
                [(ngModel)]="order.address"
                placeholder="Адрес доставки *" />
        </label>
        

        <div class="textarea">
            <textarea 
                formControlName="notes"
                id="notes" 
                rows="5" 
                cols="33" 
                [(ngModel)]="order.notes"
                placeholder="Записка к букету">
            </textarea>
        </div>

        <!-- <label class="checkbox" for="submit">
            <input type="checkbox" class="check__input" id="submit" name="submit">
            <div class="check__box"></div>
            Я согласен на обработку персональных данных
        </label> -->


        <div class="button-wrapper">
          <button class="btn btn-lg" type="submit" [disabled]="!formGroup.valid">Оформить заказ</button>
        </div>
    </form>
</div>