.cover
    background-image url('../../../assets/img/cover.jpg')
    background-size: cover
    height 777px
    background-repeat no-repeat
    width 100%
    .wrapper
        padding-top 106px
        h1
            margin 0
            color #CA6791
            font-size 44px
            line-height 47px
            text-transform uppercase
            letter-spacing 4.7px
        
        p
            font-size 18px
            line-height 32px
            letter-spacing 0.2px
            max-width 366px
            margin-top 64px

.popular-products
    display flex
    flex-direction column
    align-items center
    justify-content center
    margin-top 140px
    margin-bottom 140px
    &-title
        font-size 36px
        line-height 32px
        letter-spacing 0.2px
        color #CA6791
        margin-bottom 66px
        
    &-items
        display flex
        justify-content space-between

    .more
        color #81AA94
        text-decoration none
        margin-top 40px
        font-size 21px
        line-height 32px

        &:hover
            text-decoration underline


.contact-form
    margin-bottom 140px

    h1
        text-align center
        color #CA6791
        margin-bottom 59px

    .wrapper
        display flex
        justify-content center
        .contact-form-text
            margin-right 131px

            p
                font-size 18px
                line-height 32px
                letter-spacing 0.2px



        .form
            display flex
            flex-direction column
            align-items center
            .input,
            .textarea
                position relative
                display flex
                flex-direction column
                margin-bottom 24px
                
                input
                textarea
                    border 1px solid #81AA94
                    box-sizing border-box
                    border-radius 10px
                    background-color transparent
                    padding 18px 34px
                    width 350px
                &-label
                    position absolute
                    left 32px
                    top -11px
                    background-color #fff
                    padding 3px
                    font-size 15px
                    line-height 19px
                    color #1D1C1C

            .textarea
                margin-bottom 16px

            .checkbox
                display flex
                align-items center
                font-size 14px
                line-height 18px
                color #77A88E
                padding-left 25px

                .check__input 
                    position absolute
                    -webkit-appearance none
                    -moz-appearance none
                    appearance none
                    border none
                .check__box 
                    position absolute
                    margin-left -27px
                    overflow hidden
                    width 20px
                    height 20px
                    min-width 20px
                    border-radius 7px
                    border 1px solid #77A88E

                .check__input:checked + .check__box 
                    background-image url('../../../assets/img/check.svg')
                    background-position center
                    background-repeat no-repeat
                    
.about-us
    position relative
    
    &-top
        display flex
        flex-direction column
        margin-top 60px
        
        .back,
        .front
            display flex

            .text 
                max-width 470px
                font-size 18px
                line-height 32px
                letter-spacing 0.2px
                color #1D1C1C
                margin-left 60px

        .back
            &-img
                display flex
                background-image url('../../../assets/img/shop-top-back.png')
                background-size cover
                width 505px
                min-width 505px
                height 377px
            
        .front
            &-img
                display flex
                margin-top -182px
                margin-left 332px
                z-index 2
                background-image url('../../../assets/img/shop-top-front.png')
                background-size 273px 291px
                background-repeat no-repeat
                min-width 273px
                height 291px
            .text 
                margin-top -182px

        .about-us-bottom
            display flex
            justify-content flex-end
            margin-top 60px 

            .image-bottom
                display flex
                background-image url('../../../assets/img/shop-bottom.png')
                background-size cover
                width 405px
                min-width 405px
                height 347px
            .text 
                margin-right 28px
                max-width 470px
                font-size 18px
                line-height 32px
                letter-spacing 0.2px
                color #1D1C1C

                > div
                    margin-bottom 25px

.delivery
    display flex
    flex-direction column
    margin-top 70px

    .cond > p
        font-size 18px
        line-height 32px
        letter-spacing 0.2px

.contacts
    display flex
    flex-direction column
    margin-top 60px
    margin-bottom 140px
    .wrapper
        display flex
        justify-content space-around
        .address,
        .phone
            display flex
            align-items baseline
            justify-content space-between

            .title,
            .info
                font-size 18px
                line-height 32px
                letter-spacing 0.2px

            .info
                color #CA6791
                margin-left 15px

.reviews
    margin-bottom 140px