<navbar></navbar>
<router-outlet></router-outlet>

<div class="cover">
    <div class="wrapper">
        <h1>Flowers Krop</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar mauris vitae,
            facilisi est euismod ipsum eu blandit augue.</p>
        <button class="btn btn-lg">Смотреть каталог</button>
    </div>
</div>

<div class="popular-products">
    <h1 class="popular-products-title">Популярные товары</h1>
    <div class="popular-products-items">
        <product-card *ngFor="let item of items | async | slice:0:4" [product]="item">
        </product-card>
    </div>
    <a href="#" class="more">Смотреть все букеты</a>
</div>

<div class="contact-form">
    <h1>Не нашли что искали?</h1>
    <div class="wrapper">
        <div class="contact-form-text">
            <p>Не нашли букет, который хотели?</p> 
            <p>Можете задать нам вопрос и мы с радостью ответим на него.</p>
        </div>
        <div class="form">
            
            <label class="input">
                <span class="input-label">Введите имя</span>
                <input class="input-field" type="text" placeholder="Anna" />
            </label> 
            <label class="input">
                <span class="input-label">Введите e-mail</span>
                <input class="input-field" type="text" placeholder="Anna11@gmail.com" />
            </label>

            <div class="textarea">
                <label class="textarea-label" for="comment">Ваш вопрос</label>
                <textarea id="comment" name="comment" rows="5" cols="33" placeholder="Комментарий"></textarea>
            </div>

            <label class="checkbox" for="submit">
                <input type="checkbox" class="check__input" id="submit" name="submit">
                <div class="check__box"></div>
                Я согласен на обработку персональных данных
            </label>

            <button class="btn btn-lg btn-green" type="submit">Отправить</button>

        </div>
    </div>
</div>

<div class="about-us" id="about">
    <h1>О нас </h1>
    <div class="wrapper">
        <div class="about-us-top">

            <div class="top-img">
                <div class="back-img"></div>
                <div class="front-img"></div>
            </div>
    
            <div class="top-text">
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar mauris vitae, facilisi est euismod ipsum eu blandit augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar mauris vitae, facilisi est euismod ipsum eu blandit augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
            </div>

        </div>

        <div class="about-us-bottom">
            <div class="text">
                <div>Pellentesque iaculis convallis ut risus vestibulum ut scelerisque. Vitae quis consectetur quam nisl. Mauris metus lobortis eget cursus.</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar mauris vitae, facilisi est euismod ipsum eu blandit augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                <div>Pellentesque iaculis convallis ut risus vestibulum ut scelerisque. Vitae quis consectetur quam nisl. Mauris metus lobortis eget cursus.</div>
            </div>
            <div class="image-bottom"></div>
        </div>
    </div>
</div>

<div class="delivery" id="delivery">
    <h1>Доставка и оплата</h1>
    <div class="wrapper">
        <div class="cond">
            <p>Доставим заказ в любую точку Кропивницкого</p>
            <p>Бесплатная доставка от 500 грн </p>
            <p>До 500 грн стоимость доставки 40 грн</p>
            <p>Также возможны доставки в пригород, цена зависит от километража</p>
        </div>
    </div>
</div>

<!-- <div class="contacts" id="contacts">
    <h1>Контакты</h1>
    <div class="wrapper"> 
        <div class="contacts">
            <div class="address">
                <div class="title">Адресс:</div>
                <div class="info">ул. Соборная д. 34/32</div>
            </div>
            <div class="phone">
                <div class="title">Номер телефона: </div>
                <div class="info">
                    <a href="tel:+380502292145" class="phone">+38 (050) 229-21-45</a>
                    <a href="tel:+380993407850" class="phone">+38 (099) 340-78-50</a>
                </div>
            </div>
        </div>
        <map></map>
    </div>
</div> -->

<div class="reviews" id="reviews">
    <h1>Отзывы наших покупателей</h1>
    <div class="wrapper"> 
        <div></div>
        <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig">
            <review ngxSlickItem *ngFor="let review of reviews | async" [review]="review" class="slide"></review>
        </ngx-slick-carousel>
    </div>
</div>



