<navbar></navbar>
<router-outlet></router-outlet>

<div class="cover">
    <div class="wrapper">
        <h1>Flowers Krop</h1>
        <p>Композиции сделаны с любовью подарят радость Вам и Вашим близким ❤️</p>
        <button class="btn btn-lg" routerLink="products">Смотреть каталог</button>
    </div>
</div>

<div class="popular-products">
    <h1 class="popular-products-title">Популярные товары</h1>
    <div class="popular-products-items">
        <product-card *ngFor="let item of popularProducts | slice:0:4" [product]="item">
        </product-card>
    </div>
    <a routerLink="/store/products" class="more">Смотреть все букеты</a>
</div>

<contact-request></contact-request>

<div class="about-us" id="about">
    <h1>О нас </h1>
    <div class="wrapper">
        <div class="about-us-top">

            <div class="top-img">
                <div class="back-img"></div>
                <div class="front-img"></div>
            </div>

            <div class="top-text">
                <div class="text">Мы молодая, развивающаяся компания, на рынке продаж 1,5 года. В нашем ассортименте не только композиции из цветов. Flowers Krop может полностью подготовить вас к празднику.</div>
                <div class="text">Покупка определенных подарков, гелиевые шары, подарочные боксы, мягкие игрушки, торты на заказ.</div>
            </div>

        </div>

        <div class="about-us-bottom">
            <div class="text">
                <div>У нас свежие цветы, приемлимые цены и быстрая доставка.</div>
                <div>Также есть услуга срочной доставки в течении получаса (из того, что в наличии). </div>
            </div>
            <div class="image-bottom"></div>
        </div>
    </div>
</div>

<div class="delivery" id="delivery">
    <h1>Доставка и оплата</h1>
    <div class="wrapper">
        <div class="cond">
            <p>Доставим заказ в любую точку Кропивницкого</p>
            <p>Бесплатная доставка от 1000 грн </p>
            <p>До 1000 грн стоимость доставки 50 грн</p>
            <p>Также возможны доставки в пригород, цена зависит от километража😉</p>
        </div>
    </div>
</div>

<!-- <div class="contacts" id="contacts">
    <h1>Контакты</h1>
    <div class="wrapper">
        <div class="contacts">
            <div class="address">
                <div class="title">Адресс:</div>
                <div class="info">ул. Соборная д. 34/32</div>
            </div>
            <div class="phone">
                <div class="title">Номер телефона: </div>
                <div class="info">
                    <a href="tel:+380502292145" class="phone">+38 (050) 229-21-45</a>
                    <a href="tel:+380993407850" class="phone">+38 (099) 340-78-50</a>
                </div>
            </div>
        </div>
        <map></map>
    </div>
</div> -->

<div class="reviews" id="reviews">
    <h1>Отзывы наших покупателей</h1>
    <div class="wrapper">
        <div></div>
        <ngx-slick-carousel class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig">
            <review ngxSlickItem *ngFor="let review of reviews" [review]="review" class="slide"></review>
        </ngx-slick-carousel>
    </div>
</div>



