.header 
    width 100%
    .header-top
        .wrapper 
            display flex
            justify-content space-between
            align-items center
            padding-top 17px
            padding-bottom 17px
            .logo
                display flex
                width 116px
                height 56px
                background-image url('./assets/img/logo.svg')
            .location
                display flex
                align-items center
                span 
                    display flex
                    background-image url('assets/img/location.svg')
                    width 11px
                    height 14px
                    background-size 11px 14px
                    margin-right 7px
            .phones
                display flex
                flex-direction column 
                a
                    display flex    
                    color #CA6791
                    text-decoration none
                    font-weight 300
                    &:nth-child(1)
                        margin-bottom 9px
                    span
                        display flex
                        background-image url('assets/img/phone.svg')
                        width 15px
                        height 15px
                        background-size 15px
                        margin-right 5px

            .social-links
                display flex
                align-items center
                a
                    display flex

                .instagram
                    background-image url('assets/img/insta.svg')
                    width 26px
                    height 26px
                    background-size 26px
                    
                .telegram
                    background-image url('assets/img/telegram.svg')
                    width 31px
                    height 31px
                    background-size 31px
                    margin-right 27px