.wrapper 
    margin 0 auto
    width 1165px
    max-width 1165px

    @media screen and (max-width: 1200px)
        // padding 30px
    
    @media screen and (max-width: 1165px)
        width 100%
        max-width 100%