<div class="header-bottom">
    <div class="wrapper">
      <div></div>
      <div class="links">
        <a (click)="scroll('about')">О нас</a>
        <a href="#">Каталог</a>
        <a (click)="scroll('delivery')">Оплата и доставка</a>
        <a (click)="scroll('contacts')">Контакты</a>
        <a (click)="scroll('reviews')">Отзывы</a>
      </div>
      <div class="cart" routerLink="checkout">
        <span class="cart-img"></span>
        <span class="items-ammount">{{ cart.lines?.length || 0 }}</span>
      </div>
    </div>
</div>