<div class="product-card">
    <a class="product-card-img" style="background-image: url({{product.imageUrl}});" routerLink="{{'/store/products/' + product.id }}">
        <div class="img-mask"></div>
        <div class="desc">
            <p class="name">{{ product.name}}</p>
            <p class="art">Описание: {{ product.description}}</p>
        </div>
    </a>
    <p class="product-card-name">{{ product.name}}</p>
    <p class="product-card-art">Категория: {{ product.category}}</p>
    <p class="product-card-price">{{ product.price}} грн</p>
    <div class="product-card-actions">
        <button class="btn btn-md" (click)="addProductToCart()" [routerLink]="['/store/checkout']">Заказать</button>
        <product-add [product]="product"></product-add>
    </div>
</div>