<div class="product-card">
    <a class="product-card-img" [routerLink]="['/products', product.Id]">
        <div class="img-mask"></div>
        <div class="desc">
            <p class="name">{{ product.Name}}</p>
            <p class="art">Артикул: 54589</p>
        </div>
    </a>
    <p class="product-card-name">{{ product.Name}}</p>
    <p class="product-card-art">Артикул: 54589</p>
    <p class="product-card-price">{{ product.Price}} грн</p>
    <div class="product-card-actions">
        <button class="btn btn-md">Заказать</button>
        <button class="btn btn-md cart">В корзину <span></span></button>
    </div>
</div>