@font-face 
    font-family Philosopher
    src url("../fonts/Philosopher-Bold.woff2") format("woff2")
        url("../fonts/Philosopher-Bold.woff") format("woff")


fontTitle = "Philosopher", sans-serif
font = "PT Sans", sans-serif