.review
    position relative
    display flex
    flex-direction column
    // padding 35px 67px
    // background-color #fff
    // box-shadow 0px 6px 30px rgba(0, 0, 0, 0.1)
    margin 20px
    width 570px
    margin-left 40px