<navbar></navbar>
    <div class="product-details">
    <div class="wrapper">
        <h1>{{ product?.name }}</h1>

        <div class="details">
            <div class="product-img">
                <div class="left">
                    <div class="top"></div>
                    <div class="bottom"></div>
                </div>
                <div class="big"></div>
            </div>

            <div class="product-category-mobile">
                <div class="height">
                    <span>Категория:</span>        
                    <span>{{ product?.category }}</span>        
                </div>
            </div>
    
            <div class="product-info">
                <div class="description">{{ product?.description }}</div>
                <div class="price">{{ product?.price }} грн</div>
                <product-add [product]="product"></product-add>
            </div>
            <div class="border"></div>
            <div class="product-category">
                <div class="height">
                    <span>Категория:</span>        
                    <span>{{ product?.category }}</span>        
                </div>
                <div class="width">
                    <!-- <span>Ширина:</span>         -->
                    <!-- <span>{{ product?.width }}</span>       -->
                </div>
            </div>
        </div>
    </div>
</div>