.product-details
    .wrapper
        
        h1
            text-align left

            @media screen and (max-width: 900px)
                margin-left 20px
                margin-right 20px
        
        .details
            display flex
            justify-content space-between
            margin-bottom 179px
            margin-top 60px
            @media screen and (max-width: 900px)
                flex-direction column
                margin-left 20px
                margin-right 20px
            .product-img
                display flex
                justify-content space-between

                @media screen and (max-width: 900px)
                    justify-content start

                .left
                    display flex
                    flex-direction column
                    justify-content start

                    .top
                        margin-bottom 30px

                    div 
                        display flex
                        background-image url('../../../../assets/img/product.png')
                        background-repeat no-repeat
                        background-position center
                        width 170px
                        height 125px
                        background-size  cover

                .big
                    display flex
                    background-image url('../../../../assets/img/product.png')
                    background-repeat no-repeat
                    background-position center
                    width 270px
                    height 305px
                    background-size  cover
                    margin-left 30px

            .product-info
                max-width 449px

                .description
                    font-size 18px
                    line-height 32px
                    letter-spacing 0.2px
                    color #1D1C1C

                .price
                    color #A72A5F
                    font-size 24px
                    line-height 18px
                    letter-spacing 0.2px
                    font-weight bold
                    margin-top 30px
                
                .ammount
                    display flex
                    margin-top 30px
                    .minus
                        background-image url('../../../../assets/img/minus.svg')
                        display flex
                        width 25px
                        height 25px
                        margin-right 10px
                        background-size 100%
                        &.disabled
                            background-image url('../../../../assets/img/minus-disabled.svg')

                    .num
                        border-bottom 1px solid #81AA94
                        width 35px
                        text-align center
                    .plus
                        background-image url('../../../../assets/img/plus.svg')
                        display flex
                        width 25px
                        height 25px
                        margin-left 10px
                        background-size 100%
                
                .actions
                    display flex
                    margin-bottom 23px
                    margin-top 30px
                    .btn
                        display flex
                    .cart
                        padding-right 13px
                        padding-left 13px
                        margin-left 10px
                        span
                            background-image url('../../../../assets/img/cart-sm.svg')
                            display flex
                            width 16px
                            height 16px
                            margin-left 3px
            
            .border
                display flex
                width 2px
                height 305px
                background-color #81AA94
                margin-left 19px

                @media screen and (max-width: 900px)
                    display none

            .product-category
                .height,
                .width
                    display flex
                    flex-direction column

                    span
                        margin-bottom 5
                        font-size 16px
                        line-height 32px
                        letter-spacing 0.2px
                    
                    span:nth-child(1)
                        color #CA6791
                    
                    span:nth-child(2)
                        //

                @media screen and (max-width: 900px)
                    display none
            
            .product-category-mobile
                display none
                .height
                    display flex

                    span
                        margin-bottom 5
                        font-size 16px
                        line-height 32px
                        letter-spacing 0.2px
                    
                    span:nth-child(1)
                        color #CA6791
                        margin-right 5px
                    span:nth-child(2)
                        //

                @media screen and (max-width: 900px)
                    display flex

