@import "./assets/styl/layout/header.styl"
@import "./assets/styl/layout/layout.styl"
@import "./assets/styl/font.styl"
@import "./assets/styl/normalize.styl"

body
    font-family font

h1
    font-family fontTitle

.btn-lg
    padding 14px 55px
    background-color #E290B2
    color rgba(255, 255, 255, 0.8)
    letter-spacing 0.2px
    box-shadow 0px 7px 22px rgba(0, 0, 0, 0.14)
    border-radius 30px
    border none
    transition all 0.3s
    margin-top 30px
    &:hover
        background-color #ca6791
        color #fff